

.navbar {
    display: inline-flex;
    width: calc(100% - 8px);
    height: calc(1rem + 8px);
    padding: 4px;
    gap: 5px;
    justify-content: space-between;
    background: var(--clr-background-navbar);
}

.navbar_logo {
    color: white;
    margin-left: 4px;
    margin-right: auto;
    text-align: center;
}

.navbar button {
    all: unset;
    background-color: var(--clr-borders);
    border-radius: 3px;
    padding: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--clr-foreground-hover);
        color: white;
    }
}

.navbar_load {
    margin-right: 4px;
}