* {
    --clr-background: #0B192C;
    --clr-background-separator: #14253E;
    --clr-background-editors: #1E3E62;
    --clr-borders: darkorange;
}

html, body {
    background-color: var(--clr-background);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: calc(100% - 3px);
}

.container {
    display: flex;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.editors {
    position: relative;
    display: grid;
    width: 33%;
    height: calc(100% - 10px);
    border-right: 3.5px solid var(--clr-background-separator);
}

.editors_html, .editors_css, .editors_js {
    margin: 5px;
}

#editors_html_textarea, #editors_css_textarea, #editors_js_textarea {
    position: relative;
    resize: none;
    color: white;
    background-color: var(--clr-background-editors);
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid var(--clr-borders);
    border-radius: 3px;

    &:focus {
        border: 1.5px solid var(--clr-borders);
    }
}

.preview {
    background-color: var(--clr-background-editors);
    position: relative;
    width: 66%;
    height: calc(100% - 11px);
    border: 1px solid var(--clr-borders);
    border-radius: 3px;
    margin: 5px;
}