* {
    --clr-background: #0B192C;
    --clr-background-separator: #14253E;
    --clr-background-editors: #1E3E62;
    --clr-borders: darkorange;
    --clr-foreground-hover: rgb(205, 113, 1);
    --clr-background-navbar: #12263d;
}

html, body {
    background-color: var(--clr-background);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    zoom: 125%;
}

.container {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.editors {
    display: grid;
    width: calc(100% - 10px);
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 5px;
    margin-top: 5px;
    gap: 10px;
    align-items: center;
}

.editors_html, .editors_css, .editors_js {
    height: 100%;
}

.editors textarea {
    position: relative;
    resize: none;
    color: white;
    background-color: var(--clr-background-editors);
    width: calc(100% - 7px);
    left: 1px;
    height: calc(100% - 1rem - 12px);
    outline: none;
    border: 1.5px solid var(--clr-borders);
    border-radius: 3px;

    &:focus {
        background-color: #1b3757;
    }
}

.editors_html_label_border, .editors_css_label_border, .editors_js_label_border {
    position: relative;
    height: 1rem;
    width: 4rem;
    left: 5%;
    border: 1.5px solid var(--clr-borders);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: none;
    background-color: var(--clr-background-editors);
    cursor: default;
}

.editors_focused {
    box-shadow: 0 0 10px 2.5px rgb(0, 164, 0);
    border-color: rgb(0, 164, 0);
    border: none;
}

.editors span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.preview {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid var(--clr-borders);
    width: 75%;
    height: 95%;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px black;
    z-index: 999;
}

.close {
    all: unset;
    background-color: var(--clr-background);
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    margin-top: 2.5px;
    margin-left: -2.5px;
    padding: 2.5px;
    padding-inline: 5px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: color .3s ease-in-out;
    z-index: 1000;

    &:hover {
        color: var(--clr-borders);
    }
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(1.5px);
    z-index: 998
}